aliases:    files
automount:  files
bootparams: files
ethers:     files
group:      files nis
hosts:      files dns myhostname
netgroup:   files
netmasks:   files
networks:   files
passwd:     files nis
protocols:  files
publickey:  files
rpc:        files
services:   files
shadow:     files nis
