---
- name: Deploying MySQL 5.7.17
  hosts: mysql57
  roles:
    -
        name: storage-mysql
    -
        name: service-mysql
        mysql_version: 5.7.17
    -
        name: bench-mysql

- name: Deploying MySQL 5.6.35
  hosts: mysql56
  roles:
    -
        name: storage-mysql
    -
        name: service-mysql
        mysql_version: 5.6.35
    -
        name: bench-mysql
